<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengong_Tween 10_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,577},{88,101}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{88,101}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,407},{106,101}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{106,101}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 12_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{110,99}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{110,99}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 13_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,95}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{154,95}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 14_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{148,97}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{148,97}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 15_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{132,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{132,101}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 16_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,364},{108,101}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{108,101}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 17_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,663},{86,101}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{86,101}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 18_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,510},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,106}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>chengong_Tween 19_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,510},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,106}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>chengong_Tween 1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,206},{79,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{79,116}}</string>
                <key>sourceSize</key>
                <string>{89,128}</string>
            </dict>
            <key>chengong_Tween 20_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,467},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,106}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>chengong_Tween 21_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,565},{96,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{96,104}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>chengong_Tween 22_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,565},{96,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{96,104}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>chengong_Tween 23_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{98,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,104}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>chengong_Tween 24_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,479},{96,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{96,104}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>chengong_Tween 25_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,381},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,106}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>chengong_Tween 26_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,106}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>chengong_Tween 27_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,510},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,106}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>chengong_Tween 28_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{92,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{92,101}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>chengong_Tween 29_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,608},{94,103}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{94,103}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>chengong_Tween 2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,306},{73,116}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{73,116}}</string>
                <key>sourceSize</key>
                <string>{89,128}</string>
            </dict>
            <key>chengong_Tween 30_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,510},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,106}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>chengong_Tween 31_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,101},{103,129}}</string>
                <key>offset</key>
                <string>{26,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,2},{103,129}}</string>
                <key>sourceSize</key>
                <string>{159,155}</string>
            </dict>
            <key>chengong_Tween 32_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,201},{103,121}}</string>
                <key>offset</key>
                <string>{25,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,1},{103,121}}</string>
                <key>sourceSize</key>
                <string>{159,155}</string>
            </dict>
            <key>chengong_Tween 33_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,306},{115,99}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{115,99}}</string>
                <key>sourceSize</key>
                <string>{159,155}</string>
            </dict>
            <key>chengong_Tween 34_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,63},{139,51}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,91},{139,51}}</string>
                <key>sourceSize</key>
                <string>{159,155}</string>
            </dict>
            <key>chengong_Tween 35_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{153,59}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{153,59}}</string>
                <key>sourceSize</key>
                <string>{159,155}</string>
            </dict>
            <key>chengong_Tween 36_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,510},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,106}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>chengong_Tween 37_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,577},{88,101}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{88,101}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 38_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,407},{106,101}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{106,101}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 39_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{110,99}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{110,99}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,287},{75,116}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{75,116}}</string>
                <key>sourceSize</key>
                <string>{89,128}</string>
            </dict>
            <key>chengong_Tween 40_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,95}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{154,95}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 41_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{148,97}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{148,97}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 42_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{132,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{132,101}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 43_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,364},{108,101}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{108,101}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 44_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,663},{86,101}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{86,101}}</string>
                <key>sourceSize</key>
                <string>{186,105}</string>
            </dict>
            <key>chengong_Tween 45_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,510},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,106}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>chengong_Tween 4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,227},{77,116}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{77,116}}</string>
                <key>sourceSize</key>
                <string>{89,128}</string>
            </dict>
            <key>chengong_Tween 5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{81,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{81,116}}</string>
                <key>sourceSize</key>
                <string>{89,128}</string>
            </dict>
            <key>chengong_Tween 6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,116},{83,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{83,124}}</string>
                <key>sourceSize</key>
                <string>{89,128}</string>
            </dict>
            <key>chengong_Tween 7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,101},{79,124}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{79,124}}</string>
                <key>sourceSize</key>
                <string>{89,128}</string>
            </dict>
            <key>chengong_Tween 8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{73,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{73,120}}</string>
                <key>sourceSize</key>
                <string>{89,128}</string>
            </dict>
            <key>chengong_Tween 9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,510},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,106}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chengong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e8cbad92c2a2cab0a675ad2572a2cdb$</string>
            <key>textureFileName</key>
            <string>chengong.png</string>
        </dict>
    </dict>
</plist>
