<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zf_Tween 10_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,433},{135,112}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{135,112}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{143,106}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{143,106}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 12_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{151,106}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{151,106}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 13_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{161,108}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,9},{161,108}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 14_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,110}}</string>
                <key>offset</key>
                <string>{33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,7},{161,110}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 15_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,112},{145,112}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,5},{145,112}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 16_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,509},{127,114}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,3},{127,114}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 17_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{125,116}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,1},{125,116}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 18_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,678},{123,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{123,115}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>zf_Tween 19_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,678},{123,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{123,115}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>zf_Tween 1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,410},{97,140}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{97,140}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>zf_Tween 20_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{123,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{123,115}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>zf_Tween 21_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,742},{123,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{123,115}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>zf_Tween 22_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,795},{121,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{121,115}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>zf_Tween 23_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,664},{123,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{123,115}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>zf_Tween 24_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{123,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{123,115}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>zf_Tween 25_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,625},{123,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{123,115}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>zf_Tween 26_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,547},{125,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{125,115}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>zf_Tween 27_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,678},{123,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{123,115}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>zf_Tween 28_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,912},{107,105}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{107,105}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>zf_Tween 29_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,561},{115,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{115,109}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>zf_Tween 2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{85,142}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{85,142}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>zf_Tween 30_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,678},{123,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{123,115}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>zf_Tween 31_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,110},{148,113}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{148,113}}</string>
                <key>sourceSize</key>
                <string>{170,153}</string>
            </dict>
            <key>zf_Tween 32_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{92,109}}</string>
                <key>offset</key>
                <string>{-17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{92,109}}</string>
                <key>sourceSize</key>
                <string>{170,153}</string>
            </dict>
            <key>zf_Tween 33_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,462},{80,97}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{80,97}}</string>
                <key>sourceSize</key>
                <string>{170,153}</string>
            </dict>
            <key>zf_Tween 34_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,781},{122,59}}</string>
                <key>offset</key>
                <string>{-21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,65},{122,59}}</string>
                <key>sourceSize</key>
                <string>{170,153}</string>
            </dict>
            <key>zf_Tween 35_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,332},{128,73}}</string>
                <key>offset</key>
                <string>{-18,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,78},{128,73}}</string>
                <key>sourceSize</key>
                <string>{170,153}</string>
            </dict>
            <key>zf_Tween 36_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,678},{123,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{123,115}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>zf_Tween 37_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,433},{135,112}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{135,112}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 38_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{143,106}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{143,106}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 39_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{151,106}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{151,106}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,323},{85,142}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{85,142}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>zf_Tween 40_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{161,108}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,9},{161,108}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 41_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,110}}</string>
                <key>offset</key>
                <string>{33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,7},{161,110}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 42_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,112},{145,112}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,5},{145,112}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 43_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,509},{127,114}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,3},{127,114}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 44_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{125,116}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,1},{125,116}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>zf_Tween 4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,226},{95,142}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{95,142}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>zf_Tween 5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,225},{105,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{105,142}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>zf_Tween 6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{107,142}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{107,142}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>zf_Tween 7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,332},{99,140}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{99,140}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>zf_Tween 8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{91,140}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{91,140}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>zf_Tween 9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,678},{123,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{123,115}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangfei.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3508e25a099db1273f42b2bf43ea339$</string>
            <key>textureFileName</key>
            <string>zhangfei.png</string>
        </dict>
    </dict>
</plist>
