<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zgl_Tween 10_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,532},{88,97}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{88,97}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,419},{74,97}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{74,97}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 12_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,320},{70,97}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{70,97}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 13_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{118,105}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{118,105}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 14_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{114,111}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,111}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 15_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{100,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{100,105}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 16_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,532},{88,97}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{88,97}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 17_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,181},{100,109}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{100,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_Tween 18_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,181},{100,109}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{100,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_Tween 19_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{98,109}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{98,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_Tween 1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,317},{91,106}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{91,106}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>zgl_Tween 20_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,217},{98,109}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{98,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_Tween 21_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,113},{100,109}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{100,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_Tween 22_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,109},{106,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{106,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_Tween 23_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{110,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_Tween 24_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,71},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{108,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_Tween 25_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{104,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{104,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_Tween 26_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,181},{100,109}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{100,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_Tween 27_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,508},{62,101}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{62,101}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>zgl_Tween 28_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,283},{76,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,107}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>zgl_Tween 29_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,181},{100,109}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{100,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_Tween 2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,414},{75,102}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{75,102}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>zgl_Tween 30_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,215},{52,103}}</string>
                <key>offset</key>
                <string>{28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,7},{52,103}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>zgl_Tween 31_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{102,95}}</string>
                <key>offset</key>
                <string>{23,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,1},{102,95}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>zgl_Tween 32_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,361},{104,71}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{104,71}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>zgl_Tween 33_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{114,67}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{114,67}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>zgl_Tween 34_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,61}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,73},{132,61}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>zgl_Tween 35_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,181},{100,109}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{100,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_Tween 36_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,532},{88,97}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{88,97}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 37_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,419},{74,97}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{74,97}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 38_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,320},{70,97}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{70,97}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 39_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{118,105}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{118,105}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,491},{73,98}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{73,98}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>zgl_Tween 40_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{114,111}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,111}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 41_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{100,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{100,105}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 42_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,532},{88,97}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{88,97}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>zgl_Tween 43_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,181},{100,109}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{100,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_Tween 4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,518},{93,96}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{93,96}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>zgl_Tween 5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,434},{101,96}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{101,96}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>zgl_Tween 6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,314},{105,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{105,98}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>zgl_Tween 7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,410},{103,96}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{103,96}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>zgl_Tween 8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,215},{97,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{97,108}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>zgl_Tween 9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,181},{100,109}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{100,109}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>zgl_bujian-zgl_bujian_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,61}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,73},{132,61}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>zgl_bujian-zgl_bujian_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,419},{74,97}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{74,97}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhugeliang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57fa9b8beedd768f56d2c5fcd46c97cf$</string>
            <key>textureFileName</key>
            <string>zhugeliang.png</string>
        </dict>
    </dict>
</plist>
