<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill1_Tween 16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,92},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>skill1_Tween 17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,196},{74,62}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{74,62}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill1_Tween 18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,190},{86,68}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{86,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill1_Tween 19_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,196},{84,56}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{84,56}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill1_Tween 20_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,260},{82,64}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{82,64}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill1_Tween 21_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,254},{82,72}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{82,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill1_Tween 22_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{84,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{84,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill1_Tween 23_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,104},{94,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{94,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill1_Tween 24_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{106,96}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{106,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill1_Tween 25_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{116,106}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{116,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill1_Tween 26_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,92},{116,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{116,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill1_Tween 27_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{118,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{118,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill1_Tween 28_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,100}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{118,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill1_Tween 29_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{118,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>skill1_Tween 30_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,110},{112,94}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{112,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54f4f495c8d750bc509454e77bb1516e$</string>
            <key>textureFileName</key>
            <string>skill_1.png</string>
        </dict>
    </dict>
</plist>
