<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p0_Tween 10_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,828},{417,411}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{417,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,415},{417,411}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{417,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 12_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,1245},{415,411}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{415,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 13_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,828},{415,411}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{415,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 14_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1245},{415,411}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{415,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 15_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,828},{415,411}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{415,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 16_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1247},{415,413}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{415,413}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,415},{417,411}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{417,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1259},{419,411}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{419,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{421,411}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{421,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{423,411}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{423,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{423,411}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{423,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{421,411}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{421,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{421,411}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{421,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{419,411}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{419,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
            <key>p0_Tween 9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,415},{417,411}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{417,411}}</string>
                <key>sourceSize</key>
                <string>{431,419}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0b18593733bcd01150fb454eb987cdf$</string>
            <key>textureFileName</key>
            <string>player0.png</string>
        </dict>
    </dict>
</plist>
